<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="delete-confirm" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="profile-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload a Profile Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card text-center">
                        <div class="card-body justify-content-center">
                            <h5 class="card-title">Upload a Profile Photo</h5>

                            <label class="btn btn-secondary" id="upload-btn" for="fileButton">Upload</label><input
                                type="file" value="upload" id="fileButton" style="display:none" />
                            <div id="warningImg"></div>
                            <br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 0%">0%</div>
                            </div>
                            <div id="uploadBttn"></div>
                            <div id="warningImg"></div>
                        </div>
                    </div>
                    <br>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="pic-btn" type="submit" class="btn btn-primary ">Submit</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Qwik Flip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>

        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="jumbotron text-center">
        <img style="width: 18rem;" src="{{user.image}}" alt="Mustafa" class="rounded-circle" />
        <br>
        <button class="btn btn-primary btn-lg mt-3" id="edit-profile">Upload Profile Picture</button>
        <h1 class="display-4">Hello, {{user.name}}!</h1>

        <hr class="my-4">

        <a class="btn btn-primary btn-lg" href="/newitem" role="button">Post an Item</a>
        
        <button class="btn btn-primary btn-lg" id="delete-profile">Delete Account</button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Your Items
                </div>
                <div class="card-body">
                    <div class="row">

                        {{#each items}}
                        {{#unless sold}}

                        <div class="card col-3 m-1">
                            <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <h4 class="card-title">${{price}}</h4>
                                <p class="card-text">{{location}}</p>
                                <button data-id="{{id}}" class="col btn btn-primary sold-btn mb-3">Mark as Sold</button>
                                <button data-id="{{id}}" class="btn btn-primary delete-btn"> Delete</button>

                                <a href="/items/update/{{id}}"><button data-id="{{id}}"
                                        class="btn btn-primary edit-btn">Edit</button></a>


                            </div>

                        </div>
                        {{/unless}}
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Sold Items
                </div>
                <div class="card-body">
                    <div class="row">

                        {{#each items}}
                        {{#if sold}}

                        <div class="card col-3 m-1">
                            <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <h4 class="card-title">${{price}}</h4>
                                <p class="card-text">{{location}}</p>
                                <button data-id="{{id}}" class="col btn btn-primary repost-btn mb-3">Repost</button>
                                <button data-id="{{id}}" class="btn btn-primary delete-btn"> Delete</button>

                                <a href="/items/update/{{id}}"><button data-id="{{id}}"
                                        class="btn btn-primary edit-btn">Edit</button></a>


                            </div>

                        </div>
                        {{/if}}
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<br>
<div id="userid" data-id="{{user.id}}"></div>
<script>
    $.ajax("/api/firebase", {
        type: "GET"
    }).then(function (config) {
        firebase.initializeApp(config);
    })

    var storageRef;
    var userId = $("#userid").data("id");
    var imgUrl;
    var fileButton = $("#fileButton");
    var imageExtensions = ["jpg", "png", "jpeg"];
    fileButton.on("change", function (e) {
        var file = e.target.files[0];
        var imgExt = file.name.split(".").pop();
        $("#warningImg").empty();

        if (imageExtensions.includes(imgExt)) {
            storageRef = firebase.storage().ref('profilepics/' + file.name + userId);
            console.log("File Name: " + file.name);

            storageRef.put(file);



            storageRef.put(file).on('state_changed', function progress(snapshot) {
                var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;


                $(".progress-bar").attr("aria-valuenow", percentage);
                $(".progress-bar").attr("style", "width: " + percentage + "%");
                $(".progress-bar").text(Math.round(percentage) + "%");
                if (percentage === 100) {
                    $("#upload-btn").remove();
                    var status = $("<h5>").addClass("text-success").text("Photo is uploaded.");
                    $("#uploadBttn").append(status);

                    var storage = firebase.storage();
                    var pathReference = storage.ref('profilepics/' + file.name + userId);
                    pathReference.getDownloadURL().then(function (url) {
                        console.log("URL: " + url);
                        imgUrl = url;


                    }).catch(function (error) {

                    });

                }
            })

        } else {
            $("#warningImg").append($("<p>").addClass("text-danger").text("Invalid File. Acceptable extensions are .png, .jpg and .jpeg"));
        }
    });


    $("#pic-btn").on("click", function (event) {
        event.preventDefault();
        var newImage = {
            image: imgUrl
        };
        
        

        $.ajax("/api/users", {
            type: "PUT",
            data: newImage
        }).then(
            function () {
                window.location.replace("/members/account");

            }
        );


    });
    $("#edit-profile").on("click", function (event) {
        event.preventDefault();
        $("#profile-modal").modal();

    })

    $("#delete-profile").on("click", function (event) {
        event.preventDefault();
        $("#delete-modal").modal();


    })

    $("#delete-confirm").on("click", function (event) {
        event.preventDefault();
        var theUserId = {
            id: $("#userid").data("id")
        }
        $.ajax("/api/users", {
            type: "DELETE",
            data: theUserId
        }).then(function (data) {
            console.log(data);
            window.location.replace("/");

        }).catch(err => console.log(err));
    })

    $(".delete-btn").on("click", function (event) {
        event.preventDefault();

        var theId = {
            id: $(this).data("id")
        }



        $.ajax("/api/items", {
            type: "DELETE",
            data: theId

        }).then(function () {
            console.log("item deleted");
            location.reload();
        })

    });

    $(".sold-btn").on("click", function (event) {
        event.preventDefault();
        var theId = {
            id: $(this).data("id"),
            sold: true
        }

        $.ajax("/api/items", {
            type: "PUT",
            data: theId

        }).then(function () {

            location.reload();
        })

    });

    $(".repost-btn").on("click", function (event) {
        event.preventDefault();
        var theId = {
            id: $(this).data("id"),
            sold: false
        }

        $.ajax("/api/items", {
            type: "PUT",
            data: theId

        }).then(function () {

            location.reload();
        })

    });

    $("#thetitle").text("Account | Qwik Flip");


</script>