
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Qwik Flip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>

        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h1>Hi, {{user.name}}</h1>
            <a href="/newitem" class="btn btn-primary" >Post an Item</a>


        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Your Items
                </div>
                <div class="card-body">
                    <div class="row">

                        {{#each items}}

                        <div class="card col-3 mr-3">
                            <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <h4 class="card-title">${{price}}</h4>
                                <p class="card-text">{{location}}</p>
                                <button data-id="{{id}}" class="btn btn-primary bg-danger delete-btn"> Delete</button>
                                <a href="/items/update/{{id}}"><button data-id="{{id}}" class="btn btn-primary edit-btn">Edit</button></a>
                            </div>

                        </div>

                        {{/each}}


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    $(".delete-btn").on("click", event => {
        event.preventDefault();
        
        $.ajax("/api/items", {
            type: "DELETE",
            data: {id: $(this).data("id")}
        }).then(function(){
            console.log("item deleted");
            location.reload();
        })
    })

    
</script>