<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Qwik Flip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
         <div class="dropdown">
 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div id="dropdown"class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           
            <a class="dropdown-item" href="">Antiques</a>
            <a class="dropdown-item" href="">Appliances</a>
            <a class="dropdown-item" href="">Arts and Crafts</a>
            <a class="dropdown-item" href="">Audio Equipment</a>
            <a class="dropdown-item" href="">Auto Parts</a>
            <a class="dropdown-item" href="">Baby and Kids</a>
            <a class="dropdown-item" href="">Beauty and Health</a>
            <a class="dropdown-item" href="">Bicycles</a>
            <a class="dropdown-item" href="">Boats and Marine</a>
            <a class="dropdown-item" href="">Books and Magazines</a>
            <a class="dropdown-item" href="">Business Equipment</a>
            <a class="dropdown-item" href="">Campers and RVs</a>
            <a class="dropdown-item" href="">Cars and Trucks</a>
            <a class="dropdown-item" href="">CDs and DVD</a>
            <a class="dropdown-item" href="">Cell Phones</a>
            <a class="dropdown-item" href="">Clothing and Shoes</a>
            <a class="dropdown-item" href="">Collectibles</a>
            <a class="dropdown-item" href="">Computer Equipment</a>
            <a class="dropdown-item" href="">Electronics</a>
            <a class="dropdown-item" href="">Exercise</a>
            <a class="dropdown-item" href="">Free</a>
            <a class="dropdown-item" href="">Furniture</a>
            <a class="dropdown-item" href="">Games and Toys</a>
            <a class="dropdown-item" href="">General</a>
            <a class="dropdown-item" href="">Home and Garden</a>
            <a class="dropdown-item" href="">Household</a>
            <a class="dropdown-item" href="">Jewelry and Accessories</a>
            <a class="dropdown-item" href="">Motorcycles</a>
            <a class="dropdown-item" href="">Musical Instruments</a>
            <a class="dropdown-item" href="">Pet Supplies</a>
            <a class="dropdown-item" href="">Photography</a>
            <a class="dropdown-item" href="">Software</a>
            <a class="dropdown-item" href="">Sports and outdoors</a>
            <a class="dropdown-item" href="">Tickets</a>
            <a class="dropdown-item" href="">Tools and machinery</a>
            <a class="dropdown-item" href="">TVs</a>
            <a class="dropdown-item" href="">Video equipment</a>
            <a class="dropdown-item" href="">Video games</a>
            <a class="dropdown-item" href="">Wedding</a>
        
        </div>

    </ul>
  </div>
</nav>

<br>
<div class="container">
  <div class="row">

    {{#each items}}

    <div class="card col-3 m-1">
      <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h4 class="card-title">${{price}}</h4>
        <p class="card-text">{{location}}</p>
        <a href="/items/{{id}}" class="btn btn-primary">Details</a>
      </div>

    </div>

    {{/each}}


  </div>
</div>
<script>
  $(".dropdown-item").on("click", function () {
    event.preventDefault
    console.log("click worked");

  var category = $(this).text();
  $.ajax( "/api/items/category/:category", {
    type: "GET"
    
  }).then();
  

            });
</script>