<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Qwik Flip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members/account">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>

      <div class="dropdown">
 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </a>

 <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">

          <a class="dropdown-item" href="/category/Antiques">Antiques</a>
          <a class="dropdown-item" href="/category/Appliances">Appliances</a>
          <a class="dropdown-item" href="/category/Arts%20and%20Crafts">Arts and Crafts</a>
          <a class="dropdown-item" href="/category/Audio%20Equipment">Audio Equipment</a>
          <a class="dropdown-item" href="/category/Auto%20Parts">Auto Parts</a>
          <a class="dropdown-item" href="/category/Baby%20and%20Kids">Baby and Kids</a>
          <a class="dropdown-item" href="/category/Beauty%20and%20Health">Beauty and Health</a>
          <a class="dropdown-item" href="/category/Bicycles">Bicycles</a>
          <a class="dropdown-item" href="/category/Boats%20and%20Marine">Boats and Marine</a>
          <a class="dropdown-item" href="/category/Books%20and%20Magazine">Books and Magazines</a>
          <a class="dropdown-item" href="/category/Business%20Equipment">Business Equipment</a>
          <a class="dropdown-item" href="/category/Campers%20and%20RVs">Campers and RVs</a>
          <a class="dropdown-item" href="/category/Cars%20and%20Trucks">Cars and Trucks</a>
          <a class="dropdown-item" href="/category/CDs%20and%20DVD">CDs and DVD</a>
          <a class="dropdown-item" href="/category/Cell%20Phones">Cell Phones</a>
          <a class="dropdown-item" href="/category/Clothing%20and%20Shoes">Clothing and Shoes</a>
          <a class="dropdown-item" href="/category/Collectibles">Collectibles</a>
          <a class="dropdown-item" href="/category/Computer%20Equipment">Computer Equipment</a>
          <a class="dropdown-item" href="/category/Electronics">Electronics</a>
          <a class="dropdown-item" href="/category/Exercise">Exercise</a>
          <a class="dropdown-item" href="/category/Free">Free</a>
          <a class="dropdown-item" href="/category/Furniture">Furniture</a>
          <a class="dropdown-item" href="/category/Games%20and%20Toys">Games and Toys</a>
          <a class="dropdown-item" href="/category/General">General</a>
          <a class="dropdown-item" href="/category/Home%20and%20Garden">Home and Garden</a>
          <a class="dropdown-item" href="/category/Household">Household</a>
          <a class="dropdown-item" href="/category/Jewelry%20and%20Accessories">Jewelry and Accessories</a>
          <a class="dropdown-item" href="/category/Motorcycles">Motorcycles</a>
          <a class="dropdown-item" href="/category/Musical%20Instruments">Musical Instruments</a>
          <a class="dropdown-item" href="/category/Pet%20Supplies">Pet Supplies</a>
          <a class="dropdown-item" href="/category/Photography">Photography</a>
          <a class="dropdown-item" href="/category/Software">Software</a>
          <a class="dropdown-item" href="/category/Sports%20and%20outdoors">Sports and outdoors</a>
          <a class="dropdown-item" href="/category/Tickets">Tickets</a>
          <a class="dropdown-item" href="/category/Tools%20and%20machinery">Tools and machinery</a>
          <a class="dropdown-item" href="/category/TVs">TVs</a>
          <a class="dropdown-item" href="/category/Video%20equipment">Video equipment</a>
          <a class="dropdown-item" href="/category/Video%20games">Video games</a>
          <a class="dropdown-item" href="/category/Wedding">Wedding</a>

        </div>
    </ul>
  </div>
</nav>

<br>
<div class="container">
  <div class="row">

    {{#each items}}
    {{#unless sold}}

    <div class="card col-3 m-1">
      <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h4 class="card-title">${{price}}</h4>
        <p class="card-text">{{location}}</p>
        <a href="/items/{{id}}" class="btn btn-primary">Details</a>
      </div>

    </div>
    {{/unless}}
    {{/each}}


  </div>
</div>

<script>
  $(".dropdown-item").on("click", function (event) {
    event.preventDefault();
    console.log("click worked");

    var category = $(this).text();
    $.ajax("/api/members/category/"+ category, {
      method: "GET",
     headers: {
       "Access-Control-Allow-Origin": "*"
     }


     
    })
    .then(function (data, status) {
     console.log("Here is the data: ", data);
     console.log("Here is the status: " + status);

    });


  });
</script>