<h1>{{name}}</h1>

<img src="{{imageUrl}}" alt="{{name}}">

<p>"{{description}}"</p>

<p>Used: "{{used}}"</p>

<p>Price: "{{price}}"</p>

<p>Location: "{{location}}"</p>

<a href="/">← Back To Home</a>