<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Qwik Flip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<<<<<<< HEAD
<img src="{{imageUrl}}" alt="{{name}}">

<p>"{{description}}"</p>

<p>Used: "{{used}}"</p>

<p>Price: "{{price}}"</p>

<p>Location: "{{location}}"</p>
=======
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>

    </ul>
  </div>
</nav>
<br>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{this.name}}</h1>

            <img src="{{imageUrl}}" alt="{{name}}">

            <p>{{description}}</p>
>>>>>>> cd48444924690660a6534d6409de1f8c83a07820

            <p>Used: {{used}}</p>

            <p>Price: {{price}}</p>

            <p>Location: {{location}}</p>

            <a href="/">← Back To Home</a>

        </div>
    </div>
</div>
<br>