<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Qwik Flip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>
<br>

<div class="container">
  <div class="row">
    <div class="col text-center">

      <div class="card mb-3">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <h6 class="card-title">${{price}}</h6>
          <p class="card-text">{{description}}</p>
          <p class="card-text">Location: {{location}}</p>
          <a href="/message/{{id}}" class="btn btn-primary message">Message to Seller</a>
          <a href="/" class="btn btn-primary">← Back To Home</a>

        </div>
      </div>




    </div>
  </div>
</div>
<br>

